#saveFile( "${outputDirBasePath}/users.json" )
#set( $comma = ',' )
{
  "usersAmount": $users.size(),
  "users": [
    #foreach( $user in $users )
    {
      "ID": $user.id,
      "Group ID": $user.group_id,
      "Name": "$user.personal.name",
      "Surname": "$user.personal.surname",
      "Age": $user.personal.age
    }#if($foreach.hasNext)$comma#end
    #end
  ]
}
#end